body {
    margin: 0;
    padding: 0;
    background-color: rgb(17 24 39);
    color: rgb(209, 213, 219);
    font-family: Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/*Scrollbar customization*/
body::-webkit-scrollbar {
    width: 1px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(17 24 39);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(209, 213, 219);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}

img {
    width: auto;
    height: 32px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 15px 15px;
    margin-bottom: 15px;
    border-bottom: solid 1px white;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 100;
}


#container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}



.time-entry {
    display: flex;
}

.time,
.action {
    text-align: center;
    padding: 10px 20px;
}

.time {
    width: 25%;
    font-weight: bold;
}

.action {
    border: solid 1px rgb(209, 213, 219);
    width: 75%;
}