body {
    margin: 0;
    padding: 0;
    background-color: rgb(17 24 39);
    color: rgb(209, 213, 219);
    font-family: Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/*Scrollbar customization*/
body::-webkit-scrollbar {
    width: 1px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(17 24 39);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(209, 213, 219);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}

img {
    width: auto;
    height: 32px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 15px 15px;
    margin-bottom: 15px;
    border-bottom: solid 1px white;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 100;
}


#container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}



.time-entry {
    display: flex;
}

.time,
.action {
    text-align: center;
    padding: 10px 20px;
}

.time {
    width: 25%;
    font-weight: bold;
}

.action {
    border: solid 1px rgb(209, 213, 219);
    width: 75%;
}

/*modal window*/

#modal-window {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    /*background-color: rgba(255, 255, 255, 0.1);*/
    backdrop-filter: blur(10px);
}

#modal-navbar {
    /* padding: 0vh 0vw 20vh 3vw; */
    display: flex;
    justify-content: space-between;
    width: 98vw;
    /* margin-bottom: -20vh; */
}



#main-modal {
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 8vh;
}

.show-modal {
    z-index: 2;
    opacity: 1;
    height: 100vh;
    width: 100vw;
    animation: show .2s;
    transform: scale(1);
}

@keyframes show {
    0% {
        z-index: -1;
        transform: scale(0);
        opacity: 0;
    }

    50% {
        z-index: 0;
        transform: scale(0.5);
        opacity: 0.5;
    }

    100% {
        z-index: 2;
        transform: scale(1);
        opacity: 1;
    }
}

.hide-modal {
    z-index: -1;
    opacity: 0;
    height: 0vh;
    width: 0vw;
    pointer-events: none;
}

.options {
    border: solid 1px rgb(209, 213, 219);
    text-align: center;
    padding: 10px 20px;
    font-size: 25px;
}